[submodule "powerline-shell/powerline-shell-qwindelzorf"]
	path = powerline-shell/powerline-shell-qwindelzorf
	url = https://github.com/qwindelzorf/powerline-shell.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
