[user]
	email = jcormier@criticallink.com
	name = Cormier, Jonathan
[core]
	excludesfile = ~/.configs/C.gitignore
    PreloadIndex = true
[push]
    default=tracking
[cola]
	tabwidth = 4
[giggle]
	main-window-maximized = false
	main-window-geometry = 1035x600+1+78
[alias]
	unstage = reset HEAD --
	co = checkout
	ci = commit
    s = status
[branch]
	autosetupmerge = true
[merge]
	renamelimit = 5000
[color]
	ui = auto
