[user]
	email = jcormier@criticallink.com
	name = Cormier, Jonathan
[core]
	excludesfile = /home/jcormier/.configs/C.gitignore
	PreloadIndex = true
	# Shorten sha to 12 characters
	abbrev = 12
	autocrlf = input
[push]
	default=tracking
[cola]
	tabwidth = 4
[giggle]
	main-window-maximized = false
	main-window-geometry = 1035x600+1+78
[alias]
	unstage = reset HEAD --
	co = checkout
	ci = commit
	s = status
	#Usage: git signoff-rebase [base-commit]
	signoff-rebase = "!GIT_SEQUENCE_EDITOR='sed -i -re s/^pick/e/' sh -c 'git rebase -i $1 && while git rebase --continue; do git commit --amend --signoff --no-edit; done' -"
[branch]
	autosetupmerge = true
[merge]
	renamelimit = 5000
[color]
	ui = auto
[pretty]
	# Create fixes tag
	fixes = Fixes: %h (\"%s\")
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = jcormier@criticallink.com
	smtpServerPort = 587
	confirm = always
